<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('./include/meta.html')
</head>

<body>
    <div id="wrap">
        @@include('./include/ng-header.html')
        @@include('./include/ng-mobile-header.html')

        @@include('./include/ng-subtop.html',{
        "title" : "지원서비스",
        "title2" : "공유시설 서비스",
        })
        <div class="lay-container" id="lay-container">
            <div class="container">
                <div class="content-hgroup">
                    <div><strong>공동기술개발 사업</strong></div>
                    <div class="in-charge">
                        <span class="team-name">담당부서 : <em>기능성평가지원센터</em></span>
                        <span class="team-info">담당자 : <em>잭슨황</em></span>
                        <button class="btn btn-round btn-sm btn-dark">이용문의</button>
                    </div>
                </div>
                
                <div class="office-list">
                    <div class="office-list-container">
                        <div class="main-item">
                            <div class="main-office">
                                <h3>식품진흥원 본관</h3>
                                <div class="img"><img src="https://dummyimage.com/300x200/ccc/000" alt="국제 회의실"></div>
                                <p>전북특별자치도 익산시 왕궁면 국가식품로 100</p>
                            </div>
                        </div>
                        <div class="sub-item">
                            @@for (var i = 0; i < 6; i++) {
                                <div class="office-list-item">
                                    <a href="#">
                                        <div class="office-list-img">
                                            <img src="https://dummyimage.com/300x140/ccc/000" alt="국제 회의실">
                                        </div>
                                        <div class="office-list-info">
                                            <h3>국제회의실</h3>
                                            <ul class="rlist">
                                                <li>용도 : 집합 교육장소</li>
                                                <li>구성 : 70인실 </li>
                                                <li>비용 : 1,000원</li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            }
                            

                            <div class="paging-area">페이징 여기 안에 넣어주세요.</div>
                        </div>
                    </div>
                </div>
                <div class="office-list mt-20">
                    <div class="office-list-container">
                        <div class="main-item">
                            <div class="main-office">
                                <h3>식품벤처센터</h3>
                                <div class="img"><img src="https://dummyimage.com/300x200/ccc/000" alt="국제 회의실"></div>
                                <p>전북특별자치도 익산시 왕궁면 국가식품로 100</p>
                            </div>
                        </div>
                        <div class="sub-item">
                            @@for (var i = 0; i < 6; i++) {
                                <div class="office-list-item">
                                    <a href="#">
                                        <div class="office-list-img">
                                            <img src="https://dummyimage.com/300x140/ccc/000" alt="국제 회의실">
                                        </div>
                                        <div class="office-list-info">
                                            <h3>국제회의실</h3>
                                            <ul class="rlist">
                                                <li>용도 : 집합 교육장소</li>
                                                <li>구성 : 70인실 </li>
                                                <li>비용 : 1,000원</li>
                                                <li>비용 : 내용이 없어도 제목 나오게 해주세요.</li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            }
                            <div class="paging-area">페이징 여기 안에 넣어주세요.</div>
                        </div>
                    </div>
                </div>
                <div class="office-list mt-20">
                    <div class="office-list-container">
                        <div class="main-item">
                            <div class="main-office">
                                <h3>청년식품창업센터</h3>
                                <div class="img"><img src="https://dummyimage.com/300x200/ccc/000" alt="국제 회의실"></div>
                                <p>전북특별자치도 익산시 왕궁면 국가식품로 100</p>
                            </div>
                        </div>
                        <div class="sub-item">
                            @@for (var i = 0; i < 6; i++) {
                                <div class="office-list-item">
                                    <a href="#">
                                        <div class="office-list-img">
                                            <img src="https://dummyimage.com/300x140/ccc/000" alt="국제 회의실">
                                        </div>
                                        <div class="office-list-info">
                                            <h3>국제회의실</h3>
                                            <ul class="rlist">
                                                <li>용도 : 집합 교육장소</li>
                                                <li>구성 : 70인실 </li>
                                                <li>비용 : 1,000원</li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            }
                            

                            <div class="paging-area">페이징 여기 안에 넣어주세요.</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        @@include('./include/ng-footer.html')
    </div>
</body></html>