@use "sass:map";
@use 'utils' as *;

.board-search + .mypage-title{margin-top: 50px;}
.mypage-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
    padding-bottom: 20px;
    font-size: 25px;
    small{
        font-weight: 400;
        font-size: 21px;
        b{
            color: var(--brand-color);
        }
    }
    @media (max-width: map.get($media,lg)) {
        font-size: 16px;
        padding-bottom: 10px;
        small{
            font-size: 11px;
        }
    }
}
/* 마이페이지 main */
.main-content.mypage-main{
    padding-top: 0;
}
.mypage-main-s1{
    background-color: #f2f2f2;
    padding: 60px var(--gutter-width);
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mypage-main-s2{
    line-height: 1;
    .lv1{
        border: 1px solid #000;
        border-radius: 10px;
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(6,minmax(0,1fr));
        > li{
            padding-left: 35px;
            > a{
                font-weight: 700;
                color: #1d1d1d;
                font-size: 21px;
            }
        }
    }
    .lv2{
        padding: 10px 0;
        margin-top: 15px;
        > li{
            padding: 10px 0;
            &:first-child{padding-top: 0;}
            &:last-child{padding-bottom: 0;}
            > a{
                font-size: 17px;
            }
        }
    }
    .lv3{
        padding: 8px 0 0 10px;
        > li{
            padding: 5px 0;
            > a{
                color: #717171;
                font-size: 15px;
            }
        }
    }
}

/*
    lnb
*/

.mypage-lnb{
    @media (max-width: map.get($media,lg)) {
        display: none;
    }
}
.lnb{
    line-height: 1;
    
    &-submenu,
    &-subsubmenu{
        display: none;
    }
    &-item{
        &:has(.current){
            .lnb-link{
                &::after{
                    transform: rotate(0deg) translateY(-50%);
                }
            }
            ul{
                display: block;
            }
        }
    }
    &-link{
        position: relative;
        display: block;
        background: url(#{$src}/mypage/lnb.png) no-repeat right 10px center;
        font-weight: 700;
        color: #000;
        font-size: 19px;
        padding: 10px 24px;
        &::after{
            content:"";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: rotate(-90deg) translateX(25%);
            width: 12px;
            height: 6px;
            background: url(#{$src}/mypage/down@12x6.png);
            transition: all 0.15s;
        }
    }
    &-submenu{
        padding: 10px 0;
    }
    &-subitem{
        background-color: #f6f6f6;
        border-radius: 5px;
        border: 1px solid #f6f6f6;
        &:not(:first-child){margin-top: 4px;}
        &:has(.current){
            border-color: #2da34f;
            ul{
                display: block;
            }
        }
        &:has(ul.open){
            border-color: #2da34f;
        }
    }
    &-sublink{
        display: flex;
        align-items: center;
        position: relative;
        height: 40px;
        padding-left: 48px;
        color: #555555;
        font-size: 17px;
        &::after{
            content:"";
            display: inline-block;
            position: absolute;
            left: 27px;
            top: 50%;
            transform: rotate(0) translateY(-50%);
            width: 12px;
            height: 6px;
            background: url(#{$src}/mypage/down@12x6.png);
        }
    }
    &-subsubmenu{
        padding-left: 55px;
        padding-bottom: 15px;
    }
    &-subsubitem{
        &:not(:first-child){
            margin-top: 10px;
        }
    }
    &-subsublink{
        display: flex;
        align-items: center;
        color: #555;
        font-size: 15px;
        gap: 0 4px;
        &.current,
        &:hover,
        &:focus{
            color: var(--brand-color);
        }
        &::before{
            content:"-";
        }
    }

    .open{
        display: block;
    }
}

.convention-list{
    padding-bottom: 30px;
    .item{
        border-radius: 10px;
        padding: 30px;
        border: 2px solid var(--brand-color);
        .info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .cate{
                color: #1d1d1d;
                font-weight: 500;
            }
            .date{
                font-size: 14px;
            }
        }
        .subject{
            font-weight: 500;
            color: #1d1d1d;
            font-size: 21px;
            padding-top: 10px;
            display: flex;
            align-items: baseline;
            gap:0 10px;
        }
    }
}

.board-utils-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    .strong{
        font-weight: 700;
        color: #000;
    }
}