@use "sass:map";
@use 'utils' as *;
@use "ng-badge";

/* 탭 */
.ui-btn-track{
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &:has(.btn-tab1){
        background-color: #eeeeee;
        border-radius: 7px;
    }
    @media (max-width: map.get($media,xl)) {
        justify-content: flex-start;
    }
    &.full{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(0,1fr));
        overflow: visible;
        margin-bottom: 40px;
        .btn-tab1{width: auto;}
    }
}

.ng-tab{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(0,1fr));
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    .ng-tab-item{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee;
        color: #555555;
        height: 56px;
        font-size: 19px;
        white-space: nowrap;
        flex-shrink: 0;
        transition: all 0.25s;
        &.selected{
            background-color: #333333;
            color: #fff;
            border-radius: 5px;
            &::after{
                opacity: 0;
            }
        }
        +.ng-tab-item{
            position: relative;
            &::after{
                display: block;
                content:"";
                position: absolute;
                left: 0;
                top: 50%;
                width: 1px;
                height: 24px;
                background-color: #c6c6c6;
                transform: translateY(-50%);
            }
        }
    }
    
    @media (max-width:map.get($media,lg)) {
        width: auto;
        height: 45px;
        font-size: 15px;
        padding: 0 15px;
    }
    &-panel{
        display: none;
        &.show{
            display: block;
        }
    }
}

.ng-tab2{
    display: flex;
    margin-bottom: 30px;
    gap:0 8px;
    &.mb-none{
        margin-bottom: 0;
    }
    .ng-tab-item{
        height: 48px;
        color: #717171;
        border-radius: 7px;
        border: 1px solid #d8d8d8;
        transition: all 0.25s;
        padding: 0 20px;
        &.selected{
            font-weight: 500;
            color: #2da34f;
            border-color: #2da34f;
        }
    }
}

.btn-tab1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    color: #555555;
    border-radius: 7px;
    width: 156px;
    height: 56px;
    font-size: 19px;
    white-space: nowrap;
    flex-shrink: 0;
    &.current{
        font-weight: 700;
        color: #fff;
        background-color: #333333;
    }
    &+.btn-tab1{
        position: relative;
        &::after{
            content:"";
            position: absolute;
            left: 0;
            top: 50%;
            width: 1px;
            height: 24px;
            background-color: #c6c6c6;
            transform: translateY(-50%);
        }
    }
    @media (max-width:map.get($media,lg)) {
        width: auto;
        height: 45px;
        font-size: 15px;
        padding: 0 15px;
    }
}

.ui-btn-track{
    &:has(.btn-tab2){
        gap:0 8px;
    }
}
.btn-tab2{
    color: #717171;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    white-space: nowrap;
    font-size: 17px;
    height: 48px;
    padding: 0 24px;
    &.current{
        color: var(--brand-color);
        border-color: var(--brand-color);
    }
    @media (max-width:map.get($media,lg)) {
        font-size: 13px;
        height: 40px;
        padding: 0 17px;
    }
}

.ask-layer{
    position: absolute;
    border: 1px solid #333333;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    display: none;
    max-width:500px;
    margin-left: 10px;
    margin-top: -20px;
    &.active{
        display: block;
    }
}
.ask-cont{
    position: relative;
    padding: 25px;
    padding-right: 70px;
    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 30px;
    //     left: -10px;
    //     width: 10px;
    //     height: 13px;
    //     background: url(#{$src}/misc/tool.png) no-repeat 0 0;
    // }
    color: #fff;
    font-size: 17px;
    .txt{
       +ul{
        margin-top: 25px;
        @media (max-width:map.get($media,lg)) {
            margin-top: 10px;
        }
       }
    }
    ul{
        li{
            line-height: 1.4;
            display: flex;
            gap: 0 4px;
            width: 100%;
            &::before{
                content:"-";
                flex-shrink: 1;
            }
        }
    }
    .btn-close-ask{
        position: absolute;
        right: 25px;
        top: 25px;
    }
}

.option-layer{
    position: absolute;
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    display: none;
    max-width: 110px;
    &.active{
        display: block;
    }
    ul{
        li{
            display: flex;
            align-items: center;
            gap:0 5px;
            line-height: 1;
            white-space: nowrap;
            +li{
                padding-top: 10px;
            }
            &::before{
                content:"";
                width: 2px;
                height: 2px;
                background-color: #333;
                flex-grow: 0;
            }
            a,
            button{
                color: #333333;
                font-size: 15px;
            }
        }
    }
}


.upload-ui{
    position: relative;
    display: flex;
    gap:0 8px;
    .hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0.1;
        overflow: hidden;
    }
    .file-name{
        background-color: #fff;
        border: 1px solid #c6c6c6;
        display: flex;
        align-items: center;
        color: #8e8e8e;
        padding: 0 20px;
        font-size: 17px;
        border-radius: 5px;
        height: 48px;
        flex: 1;
        flex-wrap: wrap;
        overflow: hidden;
        gap:0 5px;
        @media (max-width: map.get($media, lg)) {
            height: 34px;
            font-size: 12px;
            padding: 0 10px;
        }
    }
    .file-name-item{
        display: inline-block;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .file-volume{
        position: absolute;
        right: 20px;
        top: -20px;
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #8e8e8e;
        b{
            font-weight: 400;
            color: #555;
        }
        @media (max-width: map.get($media,lg)) {
            font-size: 11px;
            right: 10px;
            top: -17px;
        }
    }
    .ico-delete{
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #c6c6c6;
        width: 25px;
        height: 25px;
        background: url(/dfip/static/front/common/images/bss/icon-del.png) no-repeat 50% 50%;
        @media (max-width: map.get($media,lg)) {
            width: 20px;
            height: 20px;
            background-size: 10px auto;
        }
    }
    label{
        display: flex;
        align-items: center;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #555555;
        padding: 0 24px;
        font-size: 17px;
        flex-shrink: 0;
        @media (max-width: map.get($media, lg)) {
            height: 34px;
            font-size: 12px;
            padding: 0 12px;
        }
    }
}

.boxing-cont{
    border-top: 2px solid #000;
    background-color: #f6f6f6;
    padding: 25px;
    @media (max-width: map.get($media, lg)) {
        padding: 20px 15px;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        padding-bottom: 10px;
        .text{
            color: #000;
        }

    }
}
.in-list{
    line-height: 1;
    dl{
        &:not(:first-child){
            margin-top: 8px;
        }
        display: flex;
        gap:0 10px;
        dt{
            font-weight: 400;
            color: #333;
            width: 110px;
            display: flex;
            align-items: center;
        }
        dd{
            color: #555555;
            flex-grow: 1;
            strong{
                font-weight: 400;
                color: #333;
            }
        }
    }
    .not-flex{
        display: block;
        dt{
            padding-bottom: 10px;
            @media (max-width: map.get($media,lg)) {
                padding-bottom: 5px;
            }
        }
    }
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 40px;
    @media (max-width: map.get($media,lg)) {
        gap: 0 4px
    }
}

.pagination a,
.pagination span {
    &:not(.page-move){
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        text-decoration: none;
        color: #717171;
        border-radius: 4px;
        @media (max-width: map.get($media,lg)) {
            width: 30px;
            height: 30px;
        }
    }
    &.page-move{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #555555;
    }
}

.pagination a:hover {
    &:not(.page-move){
        background-color: #f0f0f0;
    }
}

.pagination .active {
    background-color: #333;
    color: #fff !important;
    pointer-events: none;
}

.pagination .prev,
.pagination .next {
    background-repeat: no-repeat;
    height: 40px;
    @media (max-width: map.get($media,lg)) {
        font-size: 0;
        background-size: 6px auto;
    }
}

.pagination .prev{
    background-image: url(#{$src}/component/paging-prev.png);
    background-position: 0 50%;
    padding-left: 18px;
    width: auto;
    margin-right: 10px;
}
.pagination .next{
    background-image: url(#{$src}/component/paging-next.png);
    background-position: 100% 50%;
    padding-right: 18px;
    width: auto;
    padding-left: 10px;
}

.alert{
    background-color: #f9f9fa;
    border-radius: 10px;
    padding: 23px;
    border: 1px solid #f0f0f0;
    font-size: 14px;
    color: #717171;
}

/* 파일첨부 커스텀 */
.com-files-list{
    flex-direction: column;
    gap: 8px 0;
    > li,
    .file_item{
        width: 100%;
        flex:auto;
        > a,
        > strong{
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-color: #bebebe;
            background: #ececec;
        }
        button{
            border-color: #bebebe;
            background: #ececec;
        }
    }
}


.files-info{
    color: #888;
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.34;
}



.to-list+.btn{margin-top: 5px;}
.to-list {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 5px;
  background-color: #fafafa;
  max-height: 370px;
  min-height: 34px;
  overflow-y: auto;
  margin-bottom: 8px;
}

.to-list li {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.to-list li + li {
  margin-top: 5px;
}

.to-list li em {
  font-style: normal;
  display: inline-block;
  margin: 0 3px;
  font-size: 0.75rem;
}

.to-list li button {
  display: block;
  width: 17px;
  height: 17px;
  background:#ddd url(#{$src}/icon_x.png) no-repeat 50% 50%;
  font-size: 0;
  border-radius: 50%;
}


/*
    툴팁기능
*/

.tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #2da34f;
    //box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    //padding: 10px;
    z-index: 10;
    &-container{
        position: relative;
    }
    &-header{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e4e4e4;
        padding: 0 30px;
        height: 70px;
        h4{
            color: #000;
            font-weight: 700;
            font-size: 21px;
        }
    }
    #tooltip-body{
        padding: 30px;
    }
    &-content{
        overflow-y: auto;
    }
}

#close-tooltip{
    position: absolute;
    right: 30px;
    top: 25px;
    width: 20px;
    height: 20px;
    i{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 30px;
            height: 2px;
            background: #000;
            transform-origin: center;
            border-radius: 4px;
        }
        &::before {
        transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

/* list-document */
.list-document{
    .tooltip-content{
        width: 300px;
        max-height: 280px;
    }
}