@use "sass:map";
@use 'utils' as *;
.search{
    &-grid{
        display: flex;
        align-items: flex-start;
        //flex-direction: row-reverse;
        gap:0 30px;
    }
    &-side{
        background-color: #f6f6f6;
        border: 1px solid #c6c6c6;
        border-radius: 10px;
        width: 330px;
        padding: 30px;
    }
    &-main{
        width: calc(100% - 360px);
    }
    &-header{
        .board-list-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    @media (max-width: map.get($media,xl)) {
        //flex-direction: row-reverse;
        &-grid{
            flex-direction: column-reverse;
            gap: 20px 0;
        }
        &-side{
            width: 100%;
        }
        &-main{
            width: 100%;
        }
    }
    @media (max-width: map.get($media,lg)) {
        &-grid{
            gap: 45px 0;
        }
        &-side{
            padding: 22px;
        }
    }
}
.align-top{
    .cs-input{
        vertical-align: top;
    }
}

/* 사업공고 목록 */
.post{
    &-wrap{
        +.cs-paging{
            margin-top: 60px;
            @media (max-width: map.get($media,lg)) {
                margin-top: 30px;
            }
        }
    }
    &-list{
        display: flex;
        gap: 25px 0;
        flex-wrap: wrap;
        flex-direction: column;
    }
    &-link{
        display: block;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        padding: 30px;
        transition: var(--transition-easy);
        &:hover,
        &:focus{
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
            border-color: var(--border-color-active);
            //background-color: #e7effb;
        }
        @media (max-width: map.get($media,lg)) {
            padding: 22px;
        }
    }
    &-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: map.get($media,lg)) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: baseline;
        }
    }
    &-status{
        display: flex;
        gap:0 20px;
        align-items: center;
        dl{
            display: flex;
            gap:0 10px;
            dd{
                color: #717171;
            }
        }
        @media (max-width: map.get($media,lg)) {
            flex-direction: column;
            align-items: baseline;
            gap: 4px 0;
            margin-top: 10px;
        }
    }
    &-subject{
        font-weight: 400;
        margin: 14px 0 20px;
        line-height: 1.34;
        font-size: 25px;
        @media (max-width: map.get($media,lg)) {
            font-size: 15px;
        }
    }
    &-meta{
        display: flex;
        gap: 10px;
        align-items: center;
        gap: 0 40px;
        dl{
            display: flex;
            dt{
                color: #555555;
                font-weight: 700;
                white-space: nowrap;
                flex-shrink: 1;
            }
            dd{
                display: inline-flex;
                &::before{
                    content:":";
                    display: inline-block;
                    margin: 0 2px;
                    flex-shrink: 1;
                }
                color: #717171;
            }
        }
    }
    
}
.search-condition-title{
    border-bottom: 1px solid #e4e4e4;
    line-height: 1;
    padding-bottom: 14px;
    h3{
        color: #000;
        font-size: 19px;
    }
}
.search-unit{
    display: block;
    //border-bottom: 2px solid #e4e4e4;
    padding: 35px 0;
    +.search-unit{
        border-top: 1px solid #e4e4e4;
        //margin-top: 20px;
    }
    strong{
        line-height: 1;
        display: block;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 17px;
    }
    &-btn{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        .btn{
            padding: 7px 17px;
            line-height: 1;
            height: auto;
        }
    }
    @media (max-width: map.get($media,lg)) {
        padding: 15px 0;
        strong{
            font-size: 14px;
            margin-bottom: 10px;
        }
        &-btn{
            .btn{
                padding: 4px 12px;
                font-size: 12px;
            }
        }
    }
}

/* 사업 공고 상세 */
.bsn-view{
    &-top{
        .hgroup{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 40px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
            @media (max-width: map.get($media,lg)) {
                margin-bottom: 20px;
                padding-bottom: 15px;
            }
        }
        .subject{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0 10px;
            h3{
                font-weight: 400;
                font-size: 25px;
            }
            @media (max-width: map.get($media,lg)) {
                gap: 10px 0;
                h3{
                    font-size: 17px;
                }
            }
        }
        .status{
            display: flex;
            align-items: center;
            gap:0 25px;
            .date{
                color: #ff0000;
            }
            @media (max-width: map.get($media,lg)) {
                width: 100%;
            }
        }
        .details{
            gap: 0 80px;
            display: grid;
            grid-template-columns: repeat(3,minmax(0,1fr));
            @media (max-width: map.get($media,lg)) {
                grid-template-columns: repeat(1,minmax(0,1fr));
                grid-gap: 10px 0;
            }
            .col-list{
                display: flex;
                flex-direction: column;
                gap: 20px 0;
                dt{
                    flex-shrink: 0;
                }
                &.gap-sm{
                    gap: 11px 0;
                }
                &:not(:first-child){
                    position: relative;
                    &::before{
                        content:"";
                        position: absolute;
                        left: -40px;
                        top: 0;
                        width: 1px;
                        height: 100%;
                        background-color: #ddd;
                    }
                }
                dl{
                    display: flex;
                    //align-items: center;
                    align-items: baseline;
                    gap:0 15px;
                    font-size: 17px;
                    line-height: 1;
                    
                    dd{
                        color: #555555;
                    }
                }
            }
        }
    }
    &-details{
        .subject{display: inline-block;line-height: 1;color: #000;font-weight: 400;font-size: 19px;margin-bottom: 30px;}
        @media (max-width: map.get($media,lg)) {
            .subject{font-size: 15px;line-height: 1.45;}
        }
    }
    .border-rows+.border-rows{
        margin-top: 30px;
    }
    &-title{
        color: #000;
        font-weight: 700;
        display: block;
        font-size: 15px;
        margin-bottom: 20px;
        @media (max-width: map.get($media,lg)) {
            font-size: 13px;
            margin-bottom: 10px;
        }
    }
}

/* 사업신청 */
.bsn-request{
    .border-rows{
        +.border-rows{margin-top: 20px;}
    }
    .bs-request-2{
        > .grid{
            +.grid{
                margin-top: 30px;
            }
        }
    }
}

.form-steps{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 0 12px;
    &.column-5{
        grid-template-columns: repeat(5, minmax(0, 1fr));   
    }
    > div{
        display: flex;
        position: relative;
        gap: 0 10px;
        align-items: center;
        padding-bottom: 16px;
        &::after{
            content:"";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            border-radius: 5px;
            background-color: #eeeeee;
        }
        &.active{
            .num{
                background-color: var(--brand-color);
                color: #eeeeee;
            }
            .text{
                color: var(--brand-color);
            }
            &::after{
                background-color: var(--brand-color)
            }
        }
        &.clear{
            .num{
                background-color: var(--brand-color-300);
                border: 1px solid var(--brand-color);
                font-size: 0;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-image: url("#{$src}/icon-step-check.png");
            }
            &::after{
                background-color: var(--brand-color-300);
            }
        }
    }
    .num{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        border-radius: 100%;
        color: #fff;
        background-color: #eee;
        font-size: 18px;
        width: 24px;
        height: 24px;
    }
    .text{
        color: #8e8e8e;
        font-size: 19px;
    }
}
/* 참여 */
.bsn-date-set{
    display: flex;
    gap: 0 10px;
    > *{
        flex-basis: auto;
        flex-grow: 1;
    }
}
.bsn-amount{
    color: var(--brand-color);
    font-size: 17px;
}
.bsn-amount-group{
    display: flex;
    align-items: center;
    gap:0 13px;
    font-size: 17px;
}
.item-container{
    &.item-grid-container{
        .item-row,
        .item-head{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
            grid-gap: 0 20px;
            div:not(.item-08){
                width: auto;
            }
        }
    }
    .item-head{
        display: flex;
        gap:0 20px;
        margin-bottom: 10px;
        div{
            font-size: 17px;
        }
    }
    .item-row{
        display: flex;
        gap:0 20px;
        +.item-row{
            margin-top: 5px;
        }
    }
    .item-01{width: 170px;}
    .item-02{width: 210px;}
    .item-03{width: 170px;}
    .item-04{width: 130px;}
    .item-05{width: 130px;}
    .item-06{width: 170px;}
    .item-07{width: 210px;}
    .item-08{width: 50px;}
}

/* 첨부파일 */
.input-grid-full{
    grid-column: 1/-1;margin-top:-25px;line-height: 1.8;
}

.grid-space-border{
    
}
.bsn-files-content{
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #dedede;
}

.additionnal-document{
    display: flex;
    gap:0 20px;
    align-items: center;
    margin-bottom: 20px;
    .upload-document-name{
        width: 535px;
    }
    .upload-group{
        flex-grow: 1;
    }
}

.tfoot{
    tr{
        background-color: #fafafa;
        th,
        td{font-size: 17px;color: #000;}
    }
}

.enter-hgroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    h4{
        font-size: 17px;
        color: #000;
    }
}
.btn-add-row{
    border: 1px solid #333333;
    color: #333;
    transition: all 0.15s;
    border-radius: 16px;
    padding: 5px 30px;
    font-size: 15px;
    margin-left: 5px;
    &.r0{right:0 !important}
    &:hover,
    &:focus{
        color: #fff;
        background-color: #333;
    }
}
.text-secon{
    color: #8e8e8e;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}
.bsn-finance{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 40px;
    strong{font-size: 17px;font-weight: 400;color: #000;}
    &-inbox{
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(50% - 20px);
        border-bottom: 1px solid #c6c6c6;
        .price{
            //color: #000;
            font-size: 21px;
            font-weight: 400;
            b{
                font-weight: 700;
            }
        }
        &:has(.in){
            gap:0 40px;
        }
        .in{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            &.text-25{
                font-size: 25px;
            }
        }
    }
    +.bsn-finance{margin-top: 30px;}
}



// 마이페이지
.mypage{
    &-wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        gap:0 30px;
        @media (max-width: map.get($media,lg)) {
            flex-direction: column;
        }
    }
    &-content{
        width: calc(100% - 360px);
        @media (max-width: map.get($media,lg)) {
            width: 100%;
        }
    }
}
.bsn-support{
    .border-rows+.border-rows{
        margin-top: 20px;
    }
    .border-rows-hgroup{
        padding-right: 0;
        flex-wrap: wrap;
        border-bottom: 0;
        @media (max-width: map.get($media,lg)) {
            flex-direction: column;
            align-items: baseline;
            padding-bottom: 10px;
            gap: 7px 0;
        }
        .cate{
            color: #555555;
            font-weight: 400;
            font-size: 19px;
            @media (max-width: map.get($media,lg)) {
                font-size: 13px;
            }
        }
        .assi-subject{
            width: 100%;
            margin-top: 5px;
            display: flex;
            align-items: center;
            gap:0 10px;
            strong{
                color: #000;
                font-weight: 400;
                font-size: 25px;
            }
            @media (max-width: map.get($media,lg)) {
                flex-direction: column;
                align-items: baseline;
                gap:7px 0;
                strong{
                    font-size: 17px;
                }
            }
        }
    }
}
.log-entrty{
    ul{
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 8px 0;
        overflow: hidden;
        &.hidden{
            max-height: 230px;
        }
        @media (max-width: map.get($media,lg)) {
            &.hidden{
                max-height: 160px;
            }
        }
    }
    &-item{
        position: relative;
        border: 1px solid #f0f0f0;
        border-radius: 10px;
        background-color: #f7faf8;
        display: flex;
        align-items: center;
        padding: 20px;
        &:hover,
        &:focus{
            .ico-bell{
                &::after{
                    opacity: 1;
                }
            }
        }
        &::after{
            content:"";display: block;position: absolute;left: 39px;top: calc(50% + 20px);height: 65px;border: 1px dashed #e4e4e4;
        }
        .ico-bell{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border-radius: 50%;
            border: 1px dashed #dbdad9;
            width: 40px;
            height: 40px;
            margin-right: 20px;
            flex-shrink: 0;
            &::after{
                content:"";
                width: 16px;
                height: 17px;
                background: url(#{$src}/icon-bell.png);
                vertical-align: top;
                display: inline-block;
                opacity: 0.4;
            }
        }
        
        .cont{
            flex-grow: 1;
            min-width:0;
            .datetime{color: #bbbbbb;font-size: 15px;}
            .deliver-message{
                color: #8e8e8e;
                line-height: 1.45;
                font-size: 17px;
            }
        }
        
        .detail-view{
            flex-shrink: 0;
            display: inline-flex;
            padding: 0 15px;
            height: 32px;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            background-color: #fff;
            border: 1px solid #eee;
            border-radius: 15px;
        }
        @media (max-width: map.get($media,lg)) {
            padding: 14px;
            flex-direction: column;
            gap:10px 0;
            &::after{display: none;}
            .ico-bell{display: none;}
            .cont{
                .datetime{font-size: 12px;}
                .deliver-message{font-size: 13px;}
            }
            .detail-view{
                height: 28px;
                font-size: 12px;
            }
        }
        &.status-warning{
            border-color: #f6a523;
            background-color: #fff7ea;
            .detail-view{
                color: #f19400;
                border-color: #f19400;
            }
        }
        &.status-danger{
            border-color: #ed7031;
            background-color: #fef8f4;
            .detail-view{
                color: #ed7031;
                border-color: #ed7031;
            }
        }
        &.status-success{
            border-color: #2da34f;
            background-color: #edfaf1;
            .detail-view{
                color: #2da34f;
                border-color: #2da34f;
            }
        }
    }
}



.log-entrty-control{
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    gap: 0 10px;
    .cancel{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border-color);
        font-size: var(--badge-font-size);
        border-radius: var(--border-radius-sm);
        padding: 10px 23px;
        line-height: 1;
        background-color: #fbfbfb;
        color: #555;
        border: 1px solid #c6c6c6;
    }
    .more{
        background: url(#{$src}/icon-more.png) no-repeat 0 50%;
        line-height: 1;
        padding-left: 23px;
        span{
            color: #555555;font-size: 15px;
            border-bottom: 2px solid #b6b6b6;
        }
        @media (max-width: map.get($media,lg)) {
            background-size: auto 13px;
            padding-left: 17px;
            span{
                font-size: 13px;
            }
        }
    }
}

.log-step-view{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 45px;
    position: relative;
    margin-top: 30px;
    height: 92px;
    &::after,
    &::before{
        content:"";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        height: 2px;
        margin-top: -1px;
    }
    @media (max-width: map.get($media,lg)) {
        margin: 25px 13px 0;
    }

    &::before{
        background-color: #e4e4e4;
        width: 100%;
    }
    &::after{
        background-color: #2da34f;
    }

    &.current-1::after{width: 0;}
    &.current-2::after{width: 20%;}
    &.current-3::after{width: 40%;}
    &.current-4::after{width: 60%;}
    &.current-5::after{width: 80%;}
    &.current-6::after{width: 100%;}

    .step-item{
        position: absolute;
        top: 0;
        z-index: 2;
        &:nth-child(1){left: 0;transform: translateX(-50%);}
        &:nth-child(2){left: 20%;transform: translateX(-50%);}
        &:nth-child(3){left: 40%;transform: translateX(-50%);}
        &:nth-child(4){left: 60%;transform: translateX(-50%);}
        &:nth-child(5){left: 80%;transform: translateX(-50%);}
        &:nth-child(6){right: 0;transform: translateX(50%);}
        &.current{
            .words{color: #1d1d1d;}
            h3{font-weight: 700;color: #2da34f;
                &::after{
                    background: url(#{$src}/icon-step-current.png);
                    width: 30px;height: 30px;
                    margin-top: -15px;
                }
            }
        }
        &:has(~.step-item.current){
            h3::after{
                background-color: #2da34f;
            }
        }
        .words{
            font-weight: 400;
            font-size: 13px;
            white-space: nowrap;
            color: #8e8e8e;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 30px;
            @media (max-width: map.get($media,lg)) {
                font-size: 9px;
            }
        }
        h3{
            text-align: center;
            color: #555555;
            position: relative;
            font-weight: 400;
            font-size: 17px;
            padding-top: 47px;
            &::after{
                content:"";display: block;
                position: absolute;
                top: 0;
                left: 50%;
                border-radius: 50%;
                background-color: #e4e4e4;
                width: 16px;
                height: 16px;
                transform: translateX(-50%) translateY(50%);
            }
            @media (max-width: map.get($media,lg)) {
                font-size: 12px;
                padding-top: 30px;
            }
        }
    }
}

/* 목록 */
.gall-list{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-gap:20px 30px;
    @media (max-width: map.get($media,lg)) {
        grid-gap:15px;
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
    @media (max-width: map.get($media,sm)) {
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    li{
        > a{
            display: block;
            border: 1px solid #ddd;
            border-radius: 15px;
            padding: 7px 7px 15px 7px;
            .thumb{
                position: relative;
                background-color: #f8f8f8;
                overflow: hidden;
                height: 122px;
                border-radius: 10px 10px 0 0;
                mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
                -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
                img{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    aspect-ratio: 1 / 1;
                }
            }
            .badge{
                background-color: #fff;
                border: 0;
                border-radius: 20px;
                color: #555;
                font-size: 15px;
                position: absolute;
                left: 25px;
                top: 25px;
                @media (max-width: map.get($media,lg)) {
                    left: 15px;
                    top: 15px;
                    font-size: 12px;
                }
            }
            .group{
                padding: 5px 20px 0;
                @media (max-width: map.get($media,lg)) {
                    padding: 5px 10px 0;
                }
            }
            .subject{
                color: #000;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 25px;
                @media (max-width: map.get($media,lg)) {
                    font-size: 16px;
                }
            }
            .desc{
                color: #717171;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                font-size: 15px;
                height: 56px;
                margin: 10px 0 20px;
                @media (max-width: map.get($media,lg)) {
                    font-size: 12px;
                    height: 46px;
                    margin: 5px 0 10px;
                }
                
            }
            .tag-group{
                color: #8e8e8e;
                white-space: nowrap;
                overflow: hidden;
                text-overflow:ellipsis;
                font-size: 15px;
                @media (max-width: map.get($media,lg)) {
                    font-size: 12px;
                }
            }
        }
    }
}



/* 나중에 컴포넌트로 옮길 예정 */

.is-close{
    display: none;
}
.u{
    &.active{
        display: block;
        right: 100%;
    }
    display: none;
    position: absolute;
    background-color: #fff;
    top: 0;
    z-index: 10001;
    border: 1px solid rgba($color: #000000, $alpha: 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.4);
    &-hgroup{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        padding: 0 15px;
        border-bottom: 1px solid #e4e4e4;
        strong{
            color: #000;
            font-size: 21px;
        }
        .close{
            background: url(#{$src}/u-close.png) no-repeat 50% 50%;
            width: 20px;
            height: 20px;
        }
    }
    &-body{
        padding: 15px;
    }
}
.m-list{
    border-top: 1px solid #000;
    max-height: 390px;
    overflow-y: auto;
    border-bottom: 1px solid #c6c6c6;
    
    > li{
        white-space: nowrap;
        display: flex;
        gap: 0 40px;
        padding: 30px 20px;
        font-size: 17px;
        color: #555555;
        &:not(:first-child){
            border-top: 1px solid #c6c6c6;
        }
        b{
            color: #1d1d1d;
            font-size: 19px;
        }
        &:nth-child(odd){
            background-color: #f8f8f8;
        }
        &.empty{
            width: 100%;
            text-align: center;
        }
    }
}
.list-round{
    > li{
        position: relative;
        color: #555555;
        line-height: 1;
        font-size: 17px;
        padding-left: 11px;
        +li{margin-top: 4px;}
        &::after{
            content:"";
            display: block;
            position: absolute;
            left: 0;
            top: 8px;
            background-color: #646464;
            width: 2px;
            height: 2px;
        }
    }
}
.list-round-grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap: 8px;
    > li{
        display: flex;
        align-items: baseline;
        > span{
            display: inline-flex;
            gap:0 5px;
            position: relative;
            font-weight: 500;
            color: #333;
            width : 120px;
            &::after{content:":";}
        }
    }
}

.list-empty{
    padding: 25px 15px;
    border-radius: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 15px;
    width: 100%;
    text-align: center;
    color: #888;
    @media (max-width: map.get($media, lg)) {
        font-size: 12px;
    }
}

/* 이제 그만 추가해줘.. */
.content-hgroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--brand-color);
    border-radius: 10px;
    padding: 30px 40px;
    margin-bottom: 20px;
    .subject{
        display: flex;
        align-items: center;
        gap: 0 20px;
        em{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #f0f0f0;
            background-color: #f7faf8;
            border-radius: 17px;
            font-style: normal;
            color: #8e8e8e;
            font-weight: 400;
            font-size: 15px;
            padding: 7px 15px;
        }
    }
    strong{
        color: var(--brand-color);
        font-weight: 700;
        font-size: 25px;
    }
    @media (max-width: map.get($media,lg)) {
        padding: 20px;
        margin-bottom: 15px;
        strong{
            font-size: 17px;
        }
    }
    @media (max-width: map.get($media,md)) {
        flex-direction: column;
        gap:5px 0;
        strong{
            font-size: 15px;
        }
    }
}
.in-charge{
    display: flex;
    align-items: center;
    gap:0 15px;
    @media (max-width: map.get($media,md)) {
        flex-direction: column;
        gap: 5px 0;
        align-items: baseline;
    }
    .team-name{
        border: 1px solid #f0f0f0;
        background-color: #f7faf8;
        padding: 7px 15px;
        border-radius: 20px;
        color: #555555;
        font-size: 15px;
        em{
            font-style: normal;
            color: var(--brand-color);
        }
        @media (max-width: map.get($media,lg)) {
            padding: 4px 10px;
            font-size: 12px;
        }
    }
    .team-info{
        color: #555;
        font-size: 15px;
        em{
            font-style: normal;
        }
        @media (max-width: map.get($media,lg)) {
            font-size: 12px;
        }
    }
}
.avacheck{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c6c6c6;
    background-color: #f7faf8;
    border-radius: 10px;
    padding: 60px 0;
    font-size: 19px;
    gap:0 15px;
    b{
        font-weight: 700;
    }
    .btn{
        background-color: var(--brand-color);
        color: #fff;
        border-radius: 25px;
        @media (max-width: map.get($media,lg)) {
            font-size: 11px;
            padding: 2px 15px;
        }
    }
    @media (max-width: map.get($media,lg)) {
        font-size: 12px;
        padding: 30px;
    }
}
.bsn-info{
    display: flex;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    padding: 50px 40px;
    gap:0 70px;
    @media (max-width: map.get($media,xl)) {
        flex-direction: column;
        padding: 25px;
    }
    .subject{
        font-weight: 700;
        font-size: 21px;
        @media (max-width: map.get($media,lg)) {
            font-size: 14px;
        }
    }
    .simple-explan{
        width: 300px;
        .subject{
            border-bottom: 1px solid #ddd;
            padding-bottom: 30px;
            margin-bottom: 30px;
            @media (max-width: map.get($media,xl)) {
                padding-bottom: 0;
                border-bottom: 0;
                margin-bottom: 10px;
            }
        }
        .desc{
            font-size: 17px;
            @media (max-width: map.get($media,lg)) {
                font-size: 12px;
            }
        }
        @media (max-width: map.get($media,xl)) {
            width: 100%;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #ddd;
        }
        
    }
    .detail-explan{
        flex: 1;
        .group{
            +.group{
                margin-top: 45px;
            }
        }
        .desc{
            color: #555;
            font-size: 17px;
            margin-top: 10px;
            @media (max-width: map.get($media,lg)) {
                margin-top: 5px;
                font-size: 12px;
            }
        }
        .link-jump{
            display: inline-block;
            color: var(--brand-color);
            border: 1px solid var(--brand-color);
            border-radius: 20px;
            font-size: 15px;
            padding: 7px 15px;
            line-height: 1;
            @media (max-width: map.get($media,lg)) {
                font-size: 12px;
            }
        }
        .desc-step{
            display: grid;
            align-items: center;
            margin-top: 15px;
            grid-gap: 0 28px;
            grid-template-columns: repeat(5,minmax(0,1fr));
            @media (max-width: map.get($media,lg)) {
                grid-gap: 14px;
            }
            @media (max-width: map.get($media,md)) {
                grid-template-columns: repeat(3,minmax(0,1fr));
            }
            @media (max-width: map.get($media,sm)) {
                grid-template-columns: repeat(1,minmax(0,1fr));
            }
            > div{
                border: 4px solid var(--brand-color);
                border-radius: 50%;
                aspect-ratio: 1 / 1;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                &:not(:last-child){
                    &::after{
                        content:"";
                        position: absolute;
                        right: 0%;
                        top: 50%;
                        transform: translateY(-50%) translateX(300%);
                        display: inline-block;
                        width: 6px;
                        height: 10px;
                        background: url(#{$src}/breadcrumb-arw.png) no-repeat 0 0;
                        @media (max-width: map.get($media,lg)) {
                            transform: translateY(-50%) translateX(220%);
                        }
                    }
                }
                strong{
                    color: var(--brand-color);
                    font-size: 19px;
                    display: block;
                    margin-bottom: 5px;
                    @media (max-width: map.get($media,lg)) {
                        font-size: 13px;
                    }
                }
                div{
                    text-align: center;
                    color: #555;
                    font-size: 14px;
                    @media (max-width: map.get($media,lg)) {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

.icon-warning{
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background: url(#{$src}/!.png) no-repeat 0 0;
}
.alert-warning{
    .text{
        margin-top: 20px;
        background-color: #f7faf8;
        border: 1px solid #f0f0f0;
        text-align: center;
        padding: 20px;
        
    }
}

body:has(.conver-guide){
    .lay-container-header{
        display: none;
    }
}
.conver-guide{
    &-top{
        background:#bddeff url(#{$src}/conver/bg.png) no-repeat 50% 50%;
        height: 720px;
        @media (max-width: map.get($media, lg)) {
            height: 400px;
            background-size: cover;
        }
        .date{
            max-width: 1200px;
            margin: 0 auto;
            text-align: right;
            padding-top: 40px;
            span{
                font-weight: 900;
                //font-style: italic;
                font-size: 19px;
                color: #ed691b;
            }
            @media (max-width: map.get($media, lg)) {
                padding-top: 20px;
                span{
                    font-size: 14px;
                }
            }
        }
        .title{
            margin: 0;
            text-align: center;
            padding-top: 20px;
            @media (max-width: map.get($media, lg)) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    &-content{
        padding-top: 40px;
        section{
            background-color: #e7eef2;
            border-radius: 10px;
            padding: 45px 80px;
            @media (max-width: map.get($media, lg)) {
                padding: 25px;
            }
            +section{margin-top: 40px;}
            h3{
                margin: 0;
                background: url(#{$src}/conver/dot.png) no-repeat 0 50%;
                color:var(--brand-color);
                font-size: 21px;
                padding-left: 22px;
                @media (max-width: map.get($media, lg)) {
                    font-size: 15px;
                    padding-left: 15px;
                    background-size: 8px auto;
                }
            }
            .image{padding: 40px 0;
                @media (max-width: map.get($media, lg)) {
                    padding: 25px 0;
                }
            }
            .link{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                width: 202px;
                height: 56px;
                color: #fff;
                border-radius: 5px;
                font-size: 19px;
                background-color: var(--brand-color);
                @media (max-width: map.get($media, lg)) {
                    font-size: 14px;
                    height: 48px;
                }
            }
        }
    }
    .hgroup{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: #000;
            font-size: 32px;
            padding-bottom: 10px;
            @media (max-width: map.get($media, lg)) {
                font-size: 22px;
            }
        }
        a{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: var(--brand-color);
            border: 1px solid var(--brand-color);
            border-radius: 20px;
            height: 40px;
            padding: 0 65px;
            @media (max-width: map.get($media, lg)) {
                font-size: 13px;
                padding: 0 30px;
                height: 35px;
            }
        }
        p{
            color: #717171;
            line-height: 1.4;
            text-align: center;
            font-size: 17px;
            padding-top: 20px;
            @media (max-width: map.get($media, lg)) {
                font-size: 12px;
            }
        }
    }
}

.manager-container{
    position: relative;
    
}
.input-subject-group{
    display: flex;
    align-items: center;
    gap:0 10px;
    padding-bottom: 10px;
    strong{
        color: #000;
        font-size: var(--font-size-body);
    }
}
.view-sample{
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    background: var(--brand-color);
    color: #fff;
    padding: 3px 17px;
    font-size: var(--font-size-body);
}


.mypage-lnb{
    flex-basis: 310px;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    padding: 20px 30px;
    @media (max-width: map.get($media,lg)) {
        display: none;
    }
}
.lnb{
    line-height: 1;
    
    &-submenu,
    &-subsubmenu{
        //display: none;
    }
    &-item{
        &:has(.current){
            .lnb-link{
                &::after{
                    transform: rotate(0deg) translateY(-50%);
                }
            }
            ul:has(.current){
                display: block;
            }
        }
    }
    &-link{
        position: relative;
        display: block;
        background: url(#{$src}/mypage/lnb.png) no-repeat right 10px center;
        font-weight: 700;
        color: #000;
        font-size: 19px;
        padding: 10px 24px;
        &::after{
            content:"";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: rotate(-90deg) translateX(25%);
            width: 12px;
            height: 6px;
            background: url(#{$src}/mypage/down@12x6.png);
            transition: all 0.15s;
        }
    }
    &-submenu{
        padding: 10px 0;
    }
    &-subitem{
        background-color: #f6f6f6;
        border-radius: 5px;
        border: 1px solid #f6f6f6;
        &:not(:first-child){margin-top: 4px;}
        &:has(.current){
            border-color: #2da34f;
            ul:has(.current){
                display: block;
            }
        }
        &:has(ul.open){
            border-color: #2da34f;
        }
    }
    &-sublink{
        display: flex;
        align-items: center;
        position: relative;
        height: 40px;
        padding-left: 48px;
        color: #555555;
        font-size: 17px;
        &::after{
            content:"";
            display: inline-block;
            position: absolute;
            left: 27px;
            top: 50%;
            transform: rotate(0) translateY(-50%);
            width: 12px;
            height: 6px;
            background: url(#{$src}/mypage/down@12x6.png);
        }
    }
    &-subsubmenu{
        padding-left: 55px;
        padding-bottom: 15px;
    }
    &-subsubitem{
        &:not(:first-child){
            margin-top: 10px;
        }
    }
    &-subsublink{
        display: flex;
        align-items: center;
        color: #555;
        font-size: 15px;
        gap: 0 4px;
        &.current,
        &:hover,
        &:focus{
            color: var(--brand-color);
        }
        &::before{
            content:"-";
        }
    }

    .open{
        display: block;
    }
}