@use "sass:map";
@use 'utils' as *;

.badge{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    font-size: var(--font-size-body);
    border-radius: var(--border-radius-sm);
    padding: 0 23px;
    line-height: 1;
    height: 32px;
    @media (max-width: map.get($media,lg)) {
        padding: 5px 7px;
    }
    &-white{
        color: #555;
        background-color: #fff;
    }
    &-gray{
        color: #8e8e8e;
        background-color: #f0f0f0;
    }
    &-secondary{
        color: #555555;
        background-color: #f6f6f6;
    }
    &-success{
        color: #2da34f;
        background-color: #e1f0e9;
    }
    &-warning{
        color: #dc9417;
        background-color: #faf0de;
    }
    &.none{
        border: 0;
    }
    &-round{
        border-radius: var(--badge-border-radius);
    }
    &-sm{
        height: 24px;
        font-size: 13px;
    }
    &-lg{
        
    }
}