@use "sass:map";
@use 'utils' as *;

//$src:'support';

body:has(.office-share){
    .main-content{padding-top: 0;}
}
.rlist{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    li{
        position: relative;
        font-size: var(--font-size-body);
        padding-left: 15px;
        color: #555555;
        display: flex;
        align-items: center;
        line-height: 1;
        &::after{
            content:'';
            border-radius: 50%;
            width: 2px;
            height: 2px;
            background-color: #555555;
            position: absolute;
            left: 0;
            top: 7px;
        }
    }
}

.office-share{
    &-top{
        background: url(#{$src}/support/bg.png) no-repeat 50% 50% / cover;
        padding: 60px 0 40px;
        h3{
            text-align: center;
            color: #fff;
            font-size: 25px;
            font-weight: 700;
            padding-bottom: 35px;
        }
    }
    
}


.btn-load-view{}

.office-zone-radio{
    display: flex;
    gap: 0 20px;
    padding-top: 30px;
    justify-content: space-between;
    align-items: end;
    > div{
        &.line{
            width: 1px;
            height: 100%;
            background-color: #e4e4e4;
        }
        label{
            input{width: 1px;height: 1px;opacity: .1;overflow: hidden;position: absolute;}
        }
        
        label:has(input:checked){
            .img{background-color: #f4faf6;
                &::after{
                    opacity: 1;
                    visibility: visible;
                }
            }
            .zone-name{
                color: var(--brand-color);
            }
        }
        .img{
            padding: 10px;
            background-color: #f7f7f7;
            position: relative;
            &::after{
                content:"";
                position: absolute;
                display: block;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 40px;
                height: 40px;
                background: url(#{$src}/support/radio-check.png);
                opacity: 0;
                visibility: hidden;
                transition: all 0.25s;
            }
        }
        .zone-name{
            text-align: center;
            font-size: var(--font-size-body);
            font-weight: 700;
            padding-top: 8px;
        }
    }
    
}

.office-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px 0;
    @media (max-width: map.get($media, lg)) {
        gap: 10px 0;
    }
    .subject{
        background-color: var(--brand-color);
        border-radius: 30px;
        color: #fff;
        font-weight: 700;
        font-size: 25px;
        padding: 9px 68px 9px 48px;
        display: flex;
        align-items: center;
        gap: 0 10px;
        i{
            display: inline-block;
            width: 14px;
            height: 11px;
            background: url(#{$src}/support/check-white.png);
        }
        @media (max-width: map.get($media, xl)) {
            padding-left: 0;
            padding-right: 0;
            justify-content: center;
            width: 100%;
        }
        @media (max-width: map.get($media, lg)) {
            font-size: 16px;
        }
    }
    .addr{
        font-size: var(--font-size-body);
    }
    .open-addr{
        display: inline-flex;
        align-items: center;
        gap: 0 5px;
        color: var(--brand-color);
        i{
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 22px;
            background: url(#{$src}/support/loca.png);
        }
        @media (max-width: map.get($media, lg)) {
            font-size: 12px;
            i{
                width: 12px;
                height: 16px;
                background-size: 100% auto;
            }
        }
    }
}

.detail-card{
    border: 1px solid #d8d8d8;
    background-color: #fff;
    position: relative;
    border-radius: 15px;
    padding: 25px 30px;
    &.nodata{
        background-color: #fbfbfb;
        border-style: dashed;
        border-width: 2px;
        background-image: url(#{$src}/support/nodata.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        @media (max-width: map.get($media, md)) {
            padding: 60px 0;
        }
    }
    .price-type{
        position: absolute;
        right: 12px;
        top: 12px;
        color: #8e8e8e;
        font-size: 11px;
    }
    .hgroup{
        display: flex;
        justify-content: center;
        position: relative;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 15px;
        margin-bottom: 25px;
        @media (max-width : map.get($media,md)) {
            margin-bottom: 20px;
        }
        strong{
            text-align: center;
            display: block;
            margin-bottom: 4px;
            color: #000;
            font-size: 19px;
            @media (max-width : map.get($media,md)) {
                font-size: 15px;
            }
        }
        .badge{
            background-color: #333;
            font-weight: 400;
            border: 0;
            font-size: 13px;
            border-radius: 20px;
            height: 24px;
            padding: 0 12px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    
    
    .btn{
        margin-top: 35px;
        width: 100%;
        @media (max-width : map.get($media,md)) {
            margin-top: 20px;
        }
    }
}


.office-share-app{
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
    margin-bottom: 30px;
    @media (max-width:map.get($media,lg)) {
        flex-direction: column;
        gap: 20px 0;
    }
    .child{
        display: flex;
        flex-direction: column;
        gap: 25px 0;
        width: calc(50% - 15px);
        @media (max-width:map.get($media,lg)) {
            width: 100%;
        }
    }
    .border-box{
        border: 1px solid #d8d8d8;
        border-radius: 15px;
        padding: 30px 35px;
        @media (max-width:map.get($media,lg)) {
            padding: 16px;
        }
        &-title{
            line-height: 1;
            font-weight: 700;
            font-size: 21px;
            margin-bottom: 20px;
            @media (max-width:map.get($media,lg)) {
                margin-bottom: 10px;
                font-size: 15px;
            }
        }
    }
}

.office-info{
    .hgroup{
        display: flex;
        align-items: center;
        gap:0 15px;
        h3{
            color: #000;
            background: url(#{$src}/support/check.png) no-repeat 0 50%;
            padding-left: 28px;
            font-size: 21px;
            @media (max-width:map.get($media,lg)) {
                background-size: 10px auto;
                padding-left: 15px;
                font-size: 15px;
            }
        }
        .link-blank{
            color: #555;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            font-size: var(--font-size-body);
            padding: 8px 15px;
            line-height: 1;
            @media (max-width:map.get($media,lg)) {
                padding: 5px 12px;
                font-size: 12px;
            }
        }
    }
    .photo-slide{
        position: relative;
        margin-top: 15px;
        img{width: 100%;}
        .splide__slide {
            overflow: hidden;
            border-radius: 10px;
        }
        .splide__arrows{
            position: absolute;
            bottom: 15px;
            right: 15px;
            display: flex;
            align-items: center;
            z-index: 2;
            gap:0 8px;
            .splide__arrow{
                position: static;
                border-radius: 50%;
                background-color: #fff;
                height: 40px;
                width: 40px;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0;
                transform: translateY(0);
                &.splide__arrow--next{
                    transform: translateY(0) rotate(180deg);
                }
                &::after{
                    content:"";
                    display: block;
                    width: 9px;
                    height: 16px;
                    background: url(#{$src}/support/arw.png) no-repeat 50% 50%;
                }
                @media (max-width:map.get($media,lg)) {
                    width: 30px;
                    height: 30px;
                    &::after{
                        background-size: 6px auto;
                        width: 6px;
                    }
                }
            }
        }
        .play-pause{
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background:#fff url(#{$src}/support/pause.png) no-repeat 50% 50%;
            font-size: 0;
            @media (max-width:map.get($media,lg)) {
                width: 30px;
                height: 30px;
                background-size: 8px auto;
            }
        }
        .slide__indicator{
            display: flex;
            align-items: center;
            gap: 0 4px;
            background-color: #fff;
            border-radius: 20px;
            padding: 0 20px;
            height: 40px;
            #current-slide{
                color: var(--brand-color);
            }
            @media (max-width:map.get($media,lg)) {
                height: 30px;
                padding: 0 10px;
            }
        }
    }
}

.office-detail{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap:15px;
    margin-top: 40px;
    dl{
        display: flex;
        font-size: 17px;
        &.full{
            grid-column: span 2;
        }
        dt{
            position: relative;
            flex: 0 0 85px;
            padding-left: 15px;
            &::after{
                content:"";
                display: block;
                width: 2px;
                height: 2px;
                background-color: #000;
                position: absolute;
                left: 0;
                top: 8px;
            }
            @media (max-width:map.get($media,lg)) {
                flex:0 0 65px;
                padding-left: 10px;
            }
        }
        dd{
            color: #555555;
            flex-grow: 1;
            position: relative;
            padding-left: 14px;
            &::before{
                content:":";
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

.btn-load-view{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 22px;
    background: url(#{$src}/support/loca.png);
    font-size: 0;
    @media (max-width: map.get($media, lg)) {
        width: 12px;
        height: 16px;
        background-size: 100% auto;
    }
}
.office-usefile{
    border-radius: 10px;
    background-color: #f9f9fa;
    border: 1px solid #f0f0f0;
    padding: 23px;
    margin-top: 10px;
    @media (max-width:map.get($media,lg)) {
        padding: 14px;
    }
    a{
        display: inline-flex;
        align-items: center;
        line-height: 1;
        color: #555;
        font-size: 15px;
        gap: 0 10px;
        &:hover,
        &:focus{
            text-decoration: underline;
        }
        i{
            display: inline-block;
            width: 12px;
            height: 14px;
            background: url(#{$src}/support/file.png) no-repeat 50% 50%;
        }
    }
}
.office-usetip{
    border-radius: 10px;
    background-color: #f9f9fa;
    border: 1px solid #f0f0f0;
    padding: 23px;
    margin-top: 40px;
    @media (max-width:map.get($media,lg)) {
        padding: 14px;
    }
    strong{
        background: url(#{$src}/support/!.png) 0 50% no-repeat;
        color: #555555;
        font-weight: 700;
        font-size: 15px;
        padding-left: 27px;
        @media (max-width:map.get($media,lg)) {
            padding-left: 20px;
            font-size: 13px;
            background-size: auto 14px;
        }
    }
    p{
        color: #717171;
        margin-top: 10px;
        line-height: 1.4;
        font-size: 14px;
        @media (max-width:map.get($media,lg)) {
            font-size: 11px;
        }
    }
    > div{
        div{
            +div{margin-top: 4px;}
            display: flex;
            align-items: baseline;
            font-size: 14px;
            color: #717171;
            span{
                display: inline-block;
                flex-shrink: 1;
                white-space: nowrap;
                color: #555555;
            }
        }
    }
}
.time-list{
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    gap: 10px;
    flex-wrap: wrap;
    button{
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        font-size: 15px;
        height: 30px;
        &:disabled{
            border-color: #c6c6c6;
            background-color: #e4e4e4;
            color: #8e8e8e;
        }
        &.selected{
            border-color: var(--brand-color);
            color: var(--brand-color);
        }
        @media (max-width:map.get($media,lg)) {
            font-size: 11px;
        }
    }
}

.hope-calendar{
    #calendar{
       margin-top: 0;
       .fc-toolbar .fc-toolbar-chunk{
        position: static;
       }
       .fc-today-button{
        display: none;
       }
       .fc-daygrid-body-unbalanced .fc-daygrid-day-events{min-height: 0;}
       .fc-toolbar{border-top: 0;position: static;border: 0;}
    }
}

.office-tab-auto{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(0,1fr));
    grid-gap: 10px;
    @media (max-width: map.get($media,lg)) {
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    @media (max-width: map.get($media,md)) {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
    button{
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        font-size: var(--font-size-body);
        height: 40px;
        &.selected{
            border-color: var(--brand-color);
            color: var(--brand-color);
        }
    }
    
}


/* office lsit */
.office-list-container{
    background-color: #f8faf9;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    padding: 40px;
    gap:0 40px;
    @media (max-width: map.get($media,lg)) {
        flex-direction: column;
        gap: 15px;
        padding: 18px;
    }
    .main-item{
        flex-shrink: 0;
        flex-basis: 320px;
        @media (max-width: map.get($media,lg)) {
            flex-basis: 100%;
            width: 100%;
            border: 1px solid #ddd;
            background-color: #fff;
            border-radius: 15px;
            padding: 16px;
        }
        h3{
            color: #000;
            font-size: 21px;
            background: url(#{$src}/support/check-black.png) no-repeat 0 50%;
            padding-left: 23px;
            margin-bottom: 15px;
        }
        .img{
            width: 100%;
            height: 200px;
            overflow: hidden;
            border-radius: 15px;
            background: #ddd;
            position: relative;
            img{
                object-fit: cover;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%,-50%);
            }
        }
        p{
            font-size: var(--font-size-body);
            color: #555;
            margin-top: 15px;
            @media (max-width: map.get($media,lg)) {
                margin-top: 10px;
                text-align: center;
            }
        }
    }
    .sub-item{
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 20px;
        @media (max-width: map.get($media,lg)) {
            width: 100%;
        }
        @media (max-width: map.get($media,xl)) {
            grid-template-columns: repeat(2,minmax(0,1fr));
        }
        @media (max-width: map.get($media,md)) {
            grid-template-columns: repeat(1,minmax(0,1fr));
        }
    }
    .paging-area{
        grid-column: -1 / 1;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .office-list-item{
        > a{
            display: block;
            border: 1px solid #d8d8d8;
            background-color: #fff;
            transition: all 0.25s ease-in-out;
            border-radius: 15px;
            padding: 7px;
            
            .office-list-img{
                width: 100%;
                height: 140px;
                overflow: hidden;
                border-radius: 15px;
                background: #ddd;
                position: relative;
                img{
                    object-fit: cover;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%) scale(1);
                    width: 100%;
                    height: 100%;
                    transition: all 5s ease-in-out;
                }
            }
            .office-list-info{
                padding: 20px 10px;
                h3{
                    font-weight: 400;
                    color: #000;
                    font-size: 19px;
                    margin-bottom: 20px;
                }
            }
            &:hover,
            &:focus{
                border-color: var(--brand-color);
                box-shadow: 0 0 11px rgba(33,33,33,.2);
                outline: none;
                .office-list-img{
                    img{
                        transform: translate(-50%,-50%) scale(1.2);
                    }
                }
            }
        }
    }
}
.text-check{
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: var(--font-size-body);
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    transition: all 0.25s ease-in-out;
    input{
        position: absolute;
        width: 1px;height: 1px;
        overflow: hidden;
    }
    &:has(input:checked){
        border-color: var(--brand-color);
        background-color: var(--brand-color);
        color: #fff;
    }
    &:has(input:disabled){
        pointer-events : none;
        background-color: #f9f9fa;
        color: #888;
    }
}
.time-list{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5,minmax(0,1fr));
    @media (max-width: map.get($media,lg)) {
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    @media (max-width: map.get($media,md)) {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}
.selected-day-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    b{
        color: #000;
    }
    > div{
        display: flex;
        gap:0 5px;
        align-items: center;
    }
    .btn-del{
        border: 0;
        background-color: var(--brand-color);
        width: 20px;
        height: 20px;
        margin-left: 5px;
        &::before{
            background-image: url(#{$src}/icon-del-white.png);
        }
    }
}

.office-share-app{
    .border-areement{
        .areement-select{
            display: block;
            margin-top: 15px;
            p{
                margin-bottom: 10px;
            }
        }
    }
}